<script type="text/javascript" src="/assets/preview.js"></script>
<!--<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>-->
<div class="form">
  <%= form_with(model: @product, local: true, multipart: true, url: choose_new_or_edit) do |form| %>
  
    <%= form.fields_for :images do |p| %>
      <%= p.label :image %>
      <%= p.file_field :image, :multiple => true, name: "images[image][]" %>
    <% end %>

    <div class="form-group">
       <%= form.label :name %>
       <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
       <%= form.label :deposit %>
       <%= form.text_field :deposit, class: 'form-control' %>
    </div>
    <div class="form-group">
       <%= form.label :reward %>
       <%= form.text_field :reward, class: 'form-control' %>
    </div>
    <div class="form-group">
       <%= form.label :area %>
       <%= form.number_field :area, step: :any, class: 'form-control' %>
    </div>
    <div class="form-group">
      <!--Postcode-->
      <!--<input type="text" name="zip11" size="10" maxlength="8" onKeyUp="AjaxZip3.zip2addr(this,'','product[address]','product[address]');">-->
      <!--<input type="text" name="address" size="60">-->
       <%= form.label :address %>
       <%= form.text_field :address, class: 'form-control' %>
    </div>
    <div class="form-group">
       <%= form.label :m_fees %>
       <%= form.number_field :m_fees, class: 'form-control' %>
    </div>
    <div class="form-group">
       <%= form.label :rent %>
       <%= form.number_field :rent, step: :any, class: 'form-control' %>
    </div>
    <div class="form-group">
       <%= form.label :floor %>
       <%= form.text_field :floor, class: 'form-control' %>
    </div>
    <div>
      <%= form.label :structure_id %>
      <%= form.collection_select :structure_id, Structure.all, :id, :name %>
    </div>
    <div>
      <%= form.label :type_id %>
      <%= form.collection_select :type_id, Type.all, :id, :name %>
    </div>
    
    
    
    <%= form.submit class: 'button form_submit' %>
  
  <% end %>

  <div class="form_back"><%= link_to 'back', realestates_path, class: 'button'%></div>

</div>