<!DOCTYPE html>
<html>
  <head>
    <title>Realestate</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="/assets/search.js"></script>
  </head>

  <body>
    
    <%= link_to "TOP", realestates_path %>
    
    <% if user_signed_in? %>
    
      <%= link_to "profile", profile_path(current_user.id) %>
      <%= link_to "user Logout", destroy_user_session_path, method: :delete %>
      <%= current_user.email %>
      
    <% elsif office_signed_in? %>
      
      <%= link_to "new realestate", new_realestate_path %>
      <%= link_to "profile", profile_path(current_office.id) %>
      <%= link_to "office Logout", destroy_office_session_path, method: :delete %>
      <%= current_office.email %>
      
    <% else %>
    
      <%= link_to "Office Sign up", new_office_registration_path %>
      <%= link_to "Office Login", new_office_session_path %>
      
      <%= link_to "User Sign up", new_user_registration_path %>
      <%= link_to "User Login", new_user_session_path %>
      
    <% end %>
    
    
    
    
    
    <%= yield %>
  </body>
</html>
